<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <title>GrnTrvlr</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="~/CSS/Style.css" rel="stylesheet" />
    <meta charset="UTF-8">
</head>
<body>
    <nav  class="navbar navbar-inverse" style="background-color:#21610B" >
        <div class="container-fluid" >
            <div class="navbar-header">
                <a class="glyphicon glyphicon-tree-deciduous fa-3x" style="color:white" href="/home/index/"></a>
            </div>
            <ul class="nav navbar-nav">
                @*<li class="active"><a href="/home/index">Home</a></li>*@
                <li><a style="font-size:130%; color:white"href="/user/SadFacts"><b>Sad Facts</b></a></li>
            </ul>
            <ul id="navBtns" class="nav navbar-nav navbar-right" >
                <li id="MyTravelsButton" class="none"><a style="font-size:130%; color:white" href="/user/mytravels"><b>My Travels</b></a></li>
                <li id="MyAccountButton" class="none"><a style="font-size:130%; color:white" href="/user/myaccount/"><b>My Account</b></a></li>
                <li id="loggBtn"><a data-toggle="modal" data-target="#myModal" style="font-size:130%; color:white" href="#"><span id="btn2" class="glyphicon glyphicon-user"></span><b>Login/Register </b></a></li>
                <li id="logOutButton" class="none"><a style="font-size:130%; color:white" href="/user/logout"><span id="logOutSpan" class="glyphicon glyphicon-log-out"></span><b>Log Out</b></a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/4c6ae65ba0.js"></script>
    @*<script src="~/Scripts/Login.js"></script>*@

    @RenderSection("Script", required: false)
</body>
</html>
<footer id="footer">
<div><div class="panel-footer" style="font-size:100%; background-color:black; color:white; text-align:center" >
         <a class="glyphicon glyphicon-tree-deciduous fa-2x" style="color:white"></a>
    TreetMeBetter - compensate for your carbon footprint
         <a class="glyphicon glyphicon-tree-deciduous fa-2x" style="color:white"></a>
    </div></div>
 </footer>
