<style>

</style>

<h2 class="text-center">
    <label>Select departure and arrival</label>
</h2>
<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-home"></i></span>
            <input id="from" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-home"></i></span>
            <input id="to" type="text" class="form-control" aria-describedby="basic-addon2">
        </div>
    </div>
</div>
<h2 class="text-center">
    <label>Select your choice of travel</label>
</h2>
<div class="row text-center">
    <span value="TRAIN" class="type fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-train fa-stack-1x fa-inverse"></i>
    </span>
    <span value="BUS" class="type fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
    </span>
    <span value="DRIVING" class="type fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
    </span>
    <span value="BICYCLING" class="type fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
    </span>
    <span value="MOTORCYCLE" class="type fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-motorcycle fa-stack-1x fa-inverse"></i>
    </span>
</div>
<div class="row text-center">
    <span id="goBtn" class="fa-stack fa-4x fa-lg">
        <i class="fa fa-circle fa-stack-2x" style="color:green;"></i>
        <i class="fa fa-stack-1x fa-inverse" style="font-weight:bold; font-family:Helvetica Neue, Arial, Helvetica, sans-serif;cursor:pointer">GO</i>
    </span>
</div>

<div class="row text-center">
    <h3 id="error" class="text-danger"></h3>
</div>