<div class="row">

    <div id="saveOrNew" class="inline-block none text-center">
        <div class="col-md-3 col-md-offset-2">

            <input id="addTravelBtn" type="button" class="btn btn-lg btn-success" value="Save this trip" />
        </div>
        <div class="col-md-2">
            <h2>or</h2>
        </div>
        <div class="col-md-3">

            <input id="MakeNewTravelBtn" type="button" class="btn btn-lg btn-success" value="Search for new trip" />
        </div>

    </div>
</div>
<div class="row">

    <div class="container none" id="searchContainer">
        <div class="row-md-12">
            <div class="col-xs-4"><i style="float:right;" id="vehicleIcon" class=""></i></div>
            <div class="col-xs-4 bottom-border"><p class="centerLarge" id="postCarbon"></p></div>
            <div class="col-xs-4">
                <i id="vehicleIcon2" class=""></i>
            </div>
        </div><br /><br />
        <div class="row-md-12">
            <div class="col-xs-4"></div>
            <div class="col-xs-4"><p style="float:left" id="fromAddress"></p><p style="float:right" id="toAddress"></p></div>
            <div class="col-xs-4"></div>
        </div>
        <br /><br />
        <div class="row-md-12" id="treeDiv" align="center">
        </div>
    </div>
</div>
<br />
<br />

