<br />
<br />
<div class="container none"  id="searchContainer">
    <div class="row-md-12">
        <div class="col-xs-4"><i style="float:right;" id="vehicleIcon" class=""></i></div>
        <div class="col-xs-4 bottom-border"><p class="centerLarge" id="postCarbon"></p></div>
        <div class="col-xs-4"><i id="vehicleIcon2" class=""></i>
                <input id="addTravelBtn" type="button" class="btn btn-lg btn-success" value="Save"/>
            </div>
    </div><br /><br />
    <div class="row-md-12">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><p style="float:left" id="fromAddress"></p><p style="float:right" id="toAddress"></p></div>
        <div class="col-xs-4"></div>
    </div>
    <br /><br />
    <div class="row-md-12" id="treeDiv" align="center">
    </div>
</div>
<br />
<br />

