<link href="~/CSS/Style.css" rel="stylesheet" />
<link href="~/CSS/font-awesome.css" rel="stylesheet" />

<div>
    <form class="form-inline">
        <div class="form-group">
            <label for="from">From:</label>
            <input id="from" type="text" value="Stockholm" class="form-control">
        </div>
        <div class="form-group">
            <label for="to">To:</label>
            <input id="to" type="text" value="Malmö" class="form-control">
        </div>
        <input type="button" class="btn btn-default" value="GO" onclick="onClick()"/>
    </form>
    </div>

   <span aria-hidden="true" class="fa fa-car"></span> <span class="fa fa-car"></span>

        <div class="btn-group" data-toggle="buttons">
            @*<label class="btn btn-primary active">*@
                @*<input type="radio" name="type" value="TRAIN"  autocomplete="off">*@
            @*</label>*@
            <label class="btn btn-primary">
                <input type="radio" name="type" value="BUS" autocomplete="off"> <span class="glyphicon glyphicon-unchecked unchecked"></span> <span class="glyphicon glyphicon-check checked"></span>
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="type" value="DRIVING" autocomplete="off"> <span class="glyphicon glyphicon-unchecked unchecked"></span> <span class="glyphicon glyphicon-check checked"></span>
            </label>
        </div>

    @*<label>
        <input type="radio" name="type" value="DRIVING" />
        <i class="fa fa-car" aria-hidden="true"></i>
    </label>

    <label>
        <input type="radio" name="type" value="WALKING" />
        <img src="http://placehold.it/40x60/35d/fff&text=f">
    </label>

    <label>
        <input type="radio" name="type" value="BICYCLING" />
        <img src="http://placehold.it/40x40/35d/fff&text=f">
    </label>

    <label>
        <input type="radio" name="type" value="BUS" />
        <img src="http://placehold.it/60x15/35d/fff&text=f">
    </label>

    <label>
        <input type="radio" name="type" value="TRAIN" />
        <img src="http://placehold.it/60x15/35d/fff&text=f">
    </label>*@

            @*<label>DRIVE</label>
            <input type="radio" name="type" value="DRIVING">
            <label>Walking</label>
            <input type="radio" name="type" value="WALKING">
            <label>Bicycle</label>
            <input type="radio" name="type" value="BICYCLING">
            <label>Bus</label>
            <input type="radio" name="type" value="BUS">
            <label>Train</label>
            <input type="radio" name="type" value="TRAIN">*@
