<style>
    .bottom-border {
        border-width: 2px;
        border-bottom: 2px black dashed;
    }

    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    p.centerLarge {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .glyphicon.glyphicon-large {
        font-size: 100px;
    }

    .glyphicon.glyphicon-medium {
        font-size: 75px;
    }

    .glyphicon.glyphicon-small {
        font-size: 50px;
    }

    .glyphicon.glyphicon-xsmall {
        font-size: 25px;
    }
</style>
<br />
<br />
<div class="container">
    <div class="row-md-12">
        <div class="col-xs-4"><i style="float:right;" id="vehicleIcon" class=""></i></div>
        <div class="col-xs-4 bottom-border"><p class="centerLarge" id="postCarbon">34,6 kg CO2</p></div>
        <div class="col-xs-4"><i id="vehicleIcon2" class=""></i></div>
    </div><br /><br />
    <div class="row-md-12">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><p style="float:left" id="fromAddress">Karlstad</p><p style="float:right" id="toAddress">Stockholm</p></div>
        <div class="col-xs-4"></div>
    </div>
    <br /><br />
    <div class="row-md-12" id="treeDiv" align="center">
        @*<span style="color:green;" class="glyphicon glyphicon-tree-deciduous glyphicon-large"></span>
        <span style="color:green;" class="glyphicon glyphicon-tree-deciduous glyphicon-xsmall"></span>
        <span style="color:green;" class="glyphicon glyphicon-tree-deciduous glyphicon-small"></span>
        <span style="color:green;" class="glyphicon glyphicon-tree-deciduous glyphicon-medium"></span>
        <span style="color:green;" class="glyphicon glyphicon-tree-deciduous glyphicon-xsmall"></span>
        <span style="color:green;" class="glyphicon glyphicon-tree-deciduous glyphicon-large"></span>*@
    </div>
</div>
<br />
<br />

