<style>
    .fa-cog {
  color: green;
}
</style>

<div class="row">
    <form class="form-inline">
        <div class="form-group col-md-6">
            <label for="from">From:</label>
            <input id="from" type="text" value="Stockholm" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="to">To:</label>
            <input id="to" type="text" value="Malmö" class="form-control">
            <input type="button" class="btn btn-lg btn-success pull-right" value="GO" onclick="onClick()" />
        </div>
    </form>
</div>

<div class="row text-center">
    <span value="TRAIN" class="fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-train fa-stack-1x fa-inverse"></i>
    </span>
    <span value="BUS" class="fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
    </span>
    <span value="DRIVING" class="fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
    </span>
    <span value="BICYCLING" class="fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
    </span>
    <span value="WALKING" class="fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-blind fa-stack-1x fa-inverse"></i>
    </span>
    <span value="MOTORCYCLE" class="fa-stack fa-3x fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-motorcycle fa-stack-1x fa-inverse"></i>
    </span>
</div>