@*// Future implementation of feed*@


@*<div class="row0">
    <div class="col-xs-4 pull-left">
        <i id="transport" class="fa"></i>
        <p id="fromSlider"></p>
    </div>
    <div class="col-xs-4">
        <p id="co2"></p>
    </div>
    <div class="col-xs-4 pull-right">
        <i id="transport1" class="fa text-center"></i>
        <p id="toSlider"></p>
    </div>
</div>
<div class="row1">
    <div class="col-xs-4 pull-left">
        <i id="transport" class="fa"></i>
        <p id="fromSlider"></p>
    </div>
    <div class="col-xs-4">
        <p style="text-align:center;" id="co21"></p>
    </div>
    <div class="col-xs-4 pull-right">
        <i id="transport1" class="fa text-center"></i>
        <p id="toSlider"></p>
    </div>
</div>
<div class="row2">
    <div class="col-xs-4 pull-left">
        <i id="transport" class="fa"></i>
        <p id="fromSlider"></p>
    </div>
    <div class="col-xs-4">
        <p style="text-align:center;" id="co2"></p>
    </div>
    <div class="col-xs-4 pull-right">
        <i id="transport1" class="fa text-center"></i>
        <p id="toSlider"></p>
    </div>
</div>
<div class="row3">
    <div class="col-xs-4 pull-left">
        <i id="transport" class="fa"></i>
        <p id="fromSlider"></p>
    </div>
    <div class="col-xs-4">
        <p style="text-align:center;" id="co2"></p>
    </div>
    <div class="col-xs-4 pull-right">
        <i id="transport1" class="fa text-center"></i>
        <p id="toSlider"></p>
    </div>
</div>
<div class="row4">
    <div class="col-xs-4 pull-left">
        <i id="transport" class="fa"></i>
        <p id="fromSlider"></p>
    </div>
    <div class="col-xs-4">
        <p style="text-align:center;" id="co2"></p>
    </div>
    <div class="col-xs-4 pull-right">
        <i id="transport1" class="fa text-center"></i>
        <p id="toSlider"></p>
    </div>
</div>*@