body {
}

.checked {
    color: green;
}

.fa-cog {
    color: green;
}

.map {
    margin-top: 0px;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 1px;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

#goBtn {
    margin: 20px;
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

    .panel-login > .panel-heading a {
        text-decoration: none;
        color: #666;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

        .panel-login > .panel-heading a.active {
            color: #029f5b;
            font-size: 18px;
        }

    .panel-login > .panel-heading hr {
        margin-top: 10px;
        margin-bottom: 0px;
        clear: both;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
        background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    }

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

.forgot-password {
    text-decoration: underline;
    color: #888;
}

    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }

.bottom-border {
    border-width: 2px;
    border-bottom: 2px black dashed;
}

#searchContainer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

p.centerLarge {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.glyphicon.glyphicon-large {
    font-size: 100px;
}

.glyphicon.glyphicon-medium {
    font-size: 75px;
}

.glyphicon.glyphicon-small {
    font-size: 50px;
}

.glyphicon.glyphicon-xsmall {
    font-size: 25px;
}

.none {
    display: none;
}

li.none {
    display: none;
}

span.type {
    cursor: pointer;
}

button.seeMyTravelsBtn {
    background-color: #4CAF50; /* Green */
    border:solid;
    border-color:white;
    border-spacing:20px;
    color:ghostwhite;
    padding: 35px 100px;
    text-align: center;
    font:Helvetica;
    font-weight:bold;
    display: inline-block;
    font-size: 50px;
}

#yourTotalCo2 {
    color:red;
    font-size:300px;
}

p.kgof{
    color:red;
}

#amountOfTreesToCompensate{
    font-size:300px;
    color:green
}

#yourTotalCo3 {
    color:red;
    font-size:50px
}

#procentComparedToAverage{
    font-size:50px
}

p.mostvisited {
    font-family:Arial;
    font-weight:bold;
    color:black;
    font-size:32px
}