<div class="row">

<div class="">
    <div class="" id="map" style="width: 100%; height: 500px;"></div>
</div>
</div>
@Html.Partial("_Search")
@Html.Partial("_SearchResult")



@section Script{
    @*tog bort asynkron inladdning*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbQKAwOCdTQ2xE8c5Nnxn4AkQYgAFhXUw"></script>
<script src="~/Scripts/Map.js"></script>
<script src="~/Scripts/Styling.js"></script>
}

