@model GoodBadStuff.Models.ViewModels.HomeIndexVM
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
</head>
<body onload="initialize()">
    <div id="map" style="width: 320px; height: 480px;"></div>
    <div>
        <input id="from" type="textbox" value="">
        <input id="to" type="textbox" value="">
        <input type="button" value="Encode" onclick="onClick()">
    </div>
    <script>
        var geocoder;
        var map;
        var fromLtdLng;
        var toLtdLng;
        function onClick() {
            from = document.getElementById('from').value;
            to = document.getElementById('to').value;
            fromLtdLng = getLtdLng(from);
            toLtdLng = getLtdLng(to);
        }

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 8,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }

        function getLtdLng(address) {
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == 'OK') {
                    var location = results[0].geometry.location;
                    alert(results[0].geometry.location);
                }
                else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbQKAwOCdTQ2xE8c5Nnxn4AkQYgAFhXUw&callback=initMap">
    </script>
</body>
</html>