<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SadFacts</title>
</head>
<body>

    <container>
        <div>
            @Html.Partial("_PieChart")
        </div>
    </container>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br /><br />
<br /><br />
<br />
<br /><br />

    <br />
    <br />
    <br />
    <br />
    <br />

<div>
    @Html.Partial("_SadInfo")


</div>

 


</body>
</html>