    <br />

<div>
    @Html.Partial("_SadInfo")
    @Html.Partial("_LoginForm")


</div>

 @section Script{
<script src="~/Scripts/Styling.js"></script>
<script src="~/Scripts/Login.js"></script>
<script src="~/Scripts/CheckIsLoggedIn.js"></script>
}
