<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SadFacts</title>
</head>
<body>
    <div align="center">
    <div class="jumbotron" style="background-color:white; width: 700px; text-align: left;">
        <h1>Sad facts</h1>
        <p>            Genomsnittssvensken släpper ut 4,2 ton koldioxid per år. Ungefär en tredjedel av dess utsläpp kommer från olika transportmedel. Vad dessa utsläpp gör med värden har vi redan fått erfara på olika sätt, isar som smälter på grund av global uppvärmning, <br />
            människor som måste fly undan klimatet och blir så kallade klimatflyktingar.<br /><br />

            Klimatkompensering genom att plantera träd, är ett sätt att "städa upp" sitt klimatavtryck. Träd plockar upp koldioxid och hjälper till att rena luften omkring oss.  Ett ungt träd kan plocka upp 11 - 12 kg koldioxid på ett år.<br />

            Vill du veta hur många träd som behöver planteras för att kompensera för DIN LIVSSTIL?
            Då har du kommit rätt.<br /><br />

            Trvlr är en webbsida där du kan mata in och spara dina resor och få ut din klimatpåverkan i antal träd som behöver planteras för att kompensera. Syftet är att öka medvetenheten om hur mycket olika färdmedel påverkar miljön och uppmuntra <Br />människor till att välja miljövänliga alternativ.

</p>
        <p><a class="btn btn-primary btn-lg"  href="#" role="button"style="background-color:green">Learn more</a></p>
    </div>
        </div>


 


</body>
</html>